* {
    color: #ffffff;
}

body {
    background-color: #121213;
}

.landing-container {
      background-color: rgb(0, 0, 0);
}

.app-container {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
}

.title-container {
    text-align: center;
    width: 550px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: solid 2px #000000;
}

.tile-container {
    max-width: 50%;
    margin-bottom: 30px;
}

.key-container {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: solid 1px #000000;
    background-color: #ffffff;
    margin: 4px;
    color: rgb(0, 0, 0);
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
}

.tile-container div {
    display: flex;
    color: white;
    border: 1px solid #3a3a3c;
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 3px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.message-container {
    height: 30px;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.tile.flip {
    animation: 0.7s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.grey-overlay {
    background-color: #222222 !important;
    border: 3px solid #3a3a3c;
}
.yellow-overlay {
    background-color: #bba028 !important;
    border: 3px solid #3a3a3c;
}

.green-overlay {
    background-color: #419939 !important;
    border: 3px solid #3a3a3c;
}