<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lobby</title>
	<script src="/socket.io/socket.io.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles.css" />
</head>

<body>

	<!-- Lobby conatiner -->
	<div class="container">
		<div class="text-center my-4">
			<h1>Lobby</h1>
		</div>
		<div class="row justify-content-center my-4">
			<div class="col-lg-6 justify-content-center">

				<!-- Image card -->
				<div class="card mb-3">
					<div class="row">
						<div class="col-md-6">
							<img src="/assets/images/theme.jpg" class="img-fluid rounded-start" alt="Wordle World Party Image">
						</div>

						<div class="col-md-6 text-center my-auto">
							<div class="card-body">
								<h2 class="card-title">Wordle World Party</h2>
								<p class="card-text">Select your player type for the match and then ready up to play. </p>
								<p class="card-text">'Player' is a user that competes against another user and 'Admin' selects the word
									that the 'Player' needs to try and guess.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Role selection -->
		<div class="message-container my-4"></div>
		<div class="row justify-content-center ">
			<div class="col-lg-6 justify-content-center">
				<div class="text-center">
					<div class="text">Select Your Player Type</div>
					<select name="game_role" id="game_role" class="form-select mb-3 btn-dark"
						aria-label=".form-select-lg example">
						<option value=0 selected>Player</option>
						<option value=1>Admin</option>
					</select>
					<div class="text">If 'Admin' is your Player Type</div>

					<!-- Username entry container and floating label -->
					<div class="form-floating">
						<input type="admin_input" name="admin_input" id="admin_input" placeholder="admin_input"
							value="<%= locals.firstName %>" class="form-control" />
						<label for="admin_input" class="form-label">Enter a 5 letter word here:</label>
					</div>
					<button id="to_multi" name="to_multi" type="to_multi" class="btn btn-dark btn-lg my-4">Ready
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg"
							viewBox="0 0 16 16">
							<path
								d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
						</svg>
					</button>
				</div>
			</div>
		</div>

		<!-- Dropdown menu -->
		<div class="dropdown text-center my-4 ">
			<button class="btn btn-dark dropdown-toggle btn-lg" type="button" id="dropdownMenuButton1"
				data-bs-toggle="dropdown" aria-expanded="false">
				Go To
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li><a class="dropdown-item" href="/home" type="home" id="home" name="home">Home</a></li>
				<li><a class="dropdown-item" href="/rules" type="rules" id="rules" name="rules">Rules</a></li>
				<li><a class="dropdown-item" href="/actions_log" type="actions_log" id="actions_log" name="actions_log">Actions
						Log</a></li>
				<li><a class="dropdown-item" href="/leaderboard" type="leaderboard" id="leaderboard"
						name="leaderboard">Leaderboard</a></li>
				<li><a class="dropdown-item" href="/game_log" type="game_log" id="game_log" name="game_log">Games Log</a></li>
				<li><a class="dropdown-item" href="/login" type="logout" id="logout" name="logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<script src="lobby.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>