<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Wordle Multiplayer</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/styles.css" />
</head>

<body>

	<!-- Multiplayer container -->
	<div class="app-container">
		<div class="title-container my-4">
			<h1>Wordle World Party Multiplayer</h1>
		</div>
		<div class="message-container"></div>
		<div class="row justify-content-center my-4">
			<div class="col-md-6 justify-content-center" style="max-width: 50%">
				<div class="tile-container"></div>
				<div class="userID-container text-center"></div>
			</div>
			<div class="col-md-6 justify-content-center" style="max-width: 50%">
				<div class="opponent-container"></div>
				<div class="opID-container text-center"></div>
			</div>
		</div>
		<div class="key-container"></div>

		<!-- Dropdown menu -->
		<div class="dropdown my-4 text-center">
			<button class="btn btn-light dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1"
				data-bs-toggle="dropdown" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="set-icon-dark"
					viewBox="0 0 16 16">
					<path
						d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
					<path
						d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
				</svg>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li><a class="dropdown-item" href="/home" type="home" id="home" name="home">Go to Home Page</a></li>
				<li><a class="dropdown-item" href="/rules" type="rules" id="rules" name="rules">Rules</a></li>
				<li><a class="dropdown-item" href="/actions_log" type="actions_log" id="actions_log" name="actions_log">Actions
						Log</a></li>
				<li><a class="dropdown-item" href="/leaderboard" type="leaderboard" id="leaderboard"
						name="leaderboard">Leaderboard</a></li>
				<li><a class="dropdown-item" href="/game_log" type="game_log" id="game_log" name="game_log">Games Log</a></li>
				<li><a class="dropdown-item" href="/login" type="logout" id="logout" name="logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	const tileBox = document.querySelector('.tile-container')
const opponentBox = document.querySelector('.opponent-container')
const keyboard = document.querySelector('.key-container')
const message = document.querySelector('.message-container')
const myUsernameBox = document.querySelector('.userID-container')
const opponenetUsernameBox = document.querySelector('.opID-container')

const socket = io()
socket.emit('first-connect')

////////////////////////////////////////////////////
//Game init variables
////////////////////////////////////////////////////

// Setup of keys of keyboard
const keys = [
	'Q', 'W', 'E', 'R', 'T', 'Y', 'U', 'I', 'O', 'P', 'A', 'S', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'ENTER', 'Z', 'X', 'C', 'V', 'B', 'N', 'M', 'Del',
]

// Setup of area of empty values as placeholders for tiles
const wordEntry = [
	['', '', '', '', ''],
	['', '', '', '', ''],
	['', '', '', '', ''],
	['', '', '', '', ''],
	['', '', '', '', ''],
	['', '', '', '', '']
]

// Setup of global variables
let currentRow = 0
let currentTile = 0
let GameOver = false
let opponentGuess = []
let opponentRow = 0

let gameId
let gameRole
let accountId
let opponentId
let playerOne
let playerTwo
let adminId
let gameStart = false
let word = ''
let opponentNumGuesses = -1
let gameRunAlready = false

/////////////////////////////////////////////
// Interface setup
////////////////////////////////////////////

function gameSetupStart() {
	showMessage('Game started! You can begin guessing!')
	// Create placeholders for entry words
	wordEntry.forEach((guessRow, guessRowIndex) => {
		const rowElement = document.createElement('div')
		rowElement.setAttribute('id', 'guessRow-' + guessRowIndex)
		guessRow.forEach((_guess, guessIndex) => {
			const tileElement = document.createElement('div')
			tileElement.setAttribute('id', 'guessRow-' + guessRowIndex + '-tile-' + guessIndex)
			tileElement.classList.add('tile')
			rowElement.append(tileElement)
		})
		tileBox.append(rowElement)
	})

	// Create placeholders for entry words
	wordEntry.forEach((guessRow, guessRowIndex) => {
		const rowElement = document.createElement('div')
		rowElement.setAttribute('id', 'showRow-' + guessRowIndex)
		guessRow.forEach((_guess, guessIndex) => {
			const tileElement = document.createElement('div')
			tileElement.setAttribute('id', 'showRow-' + guessRowIndex + '-tile-' + guessIndex)
			tileElement.classList.add('tile')
			rowElement.append(tileElement)
		})
		opponentBox.append(rowElement)
	})

	if (gameRole !== 'admin') {
	//Fetch usernames
	fetch(`/userName/?accountId=${accountId}`)
		.then(response => response.json())
		.then(json => {
			myUsernameMessage(json)
		})

	fetch(`/userName/?accountId=${opponentId}`)
		.then(response => response.json())
		.then(json => {
			opUsernameMessage(json)
		})
	} else {
		fetch(`/userName/?accountId=${playerOne}`)
		.then(response => response.json())
		.then(json => {
			myUsernameMessage(json)
		})

	fetch(`/userName/?accountId=${playerTwo}`)
		.then(response => response.json())
		.then(json => {
			opUsernameMessage(json)
		})
	}

	// Create keys for keyboard and add button listener
	if (gameRole !== 'admin') {
		keys.forEach(key => {
			const buttonElement = document.createElement('button')
			buttonElement.textContent = key
			buttonElement.setAttribute('id', key)
			buttonElement.addEventListener('click', () => handleClick(key))
			keyboard.append(buttonElement)
		})
	}
}

////////////////////////////////////////////////////
//Game creation
////////////////////////////////////////////////////

//check if player is in game or is still waiting
function getGame() {
	fetch(`/userID`)
		.then(response => response.json())
		.then(json => {
			accountId = json
			fetch(`/getGame/?accountId=${accountId}`)
				.then(response => response.json())
				.then(json => {
					if (json === 'not in game') {
						console.log('not in game, still waiting')
						showWaitMessage('Waiting for game to start...')
					} else {
						console.log('game found')
						console.log(json)
						gameId = json.recordset[0].id
						playerOne = json.recordset[0].player_one
						playerTwo = json.recordset[0].player_two
						adminId = json.recordset[0].player_admin
						word = json.recordset[0].word.toUpperCase()
						gameStart = true

						if (accountId === playerOne) {
							gameRole = 'playerOne'
							opponentId = playerTwo
						} else if (accountId === playerTwo) {
							gameRole = 'playerTwo'
							opponentId = playerOne
						} else if (accountId === adminId) {
							gameRole = 'admin'
						}

						let multiGameData = [gameId, accountId, opponentId, adminId, word]
						console.log(multiGameData)
						fetch(`/set-multi-log/?multiGameData=${multiGameData}`)
							.then(response => response.json())
							.then(json => {
								console.log(word)
								//console.log(gameId)

								//start game functionality
								if (gameRunAlready === false) {
									gameRunAlready = true
									gameSetupStart()
									socket.emit('game-created', gameId, playerOne, playerTwo, adminId, word)//creates room and sends to all players to see if they are in the game
								}

							})
						//send to other players that there is a game that has started

					}
				})

		})

}

////////////////////////////////////////////////////
//Socket functionality
////////////////////////////////////////////////////

socket.on('send-game', (gameIdS, playerOneS, playerTwoS, adminIdS, wordS) => {

	console.log('game-created')
	let isMyGame = false
	if (accountId === playerOneS) {
		gameRole = 'playerOne'
		opponentId = playerTwoS
		isMyGame = true
	} else if (accountId === playerTwoS) {
		gameRole = 'playerTwo'
		opponentId = playerOneS
		isMyGame = true
	} else if (accountId === adminIdS) {
		gameRole = 'admin'
		isMyGame = true
	}

	if (isMyGame) {
		socket.emit('join-game-room', gameIdS)
		gameId = gameIdS
		playerOne = playerOneS
		playerTwo = playerTwoS
		adminId = adminIdS
		word = wordS.toUpperCase()
		gameStart = true

	}
	//start game functionality
	if (gameRunAlready === false) {

		if (gameRole !== 'admin') {
			let multiGameData = [gameId, accountId, opponentId, adminId, word]
			fetch(`/set-multi-log/?multiGameData=${multiGameData}`)
				.then(response => response.json())
				.then(json => {
					console.log('entered into multi game logs')
				})
			
		}
		gameRunAlready = true;
		gameSetupStart()
		console.log('multiplayer ready to start with ' + word + ' as ' + gameRole)
	}

})

socket.on('player-word', (opponentGuess, row, gameRoleS) => {

	if (gameRole === 'admin') {
		if (gameRoleS === 'playerOne') {
			flipTile3(opponentGuess, row)
		} else {
			flipTile2(opponentGuess, row)
		}
	} else {
		flipTile2(opponentGuess, row)
	}
})

socket.on('opponent-finish', (rowNum) => {
	opponentNumGuesses = rowNum
	//setTimeout(() => window.location.replace('/lobby'), 5000)

})

getGame()

////////////////////////////////////////////////////
//Handle events
////////////////////////////////////////////////////

// Handle events when a key is clicked
function handleClick(input) {
	console.log('Key was clicked...')
	if (!GameOver) {
		if (input === 'Del') {
			if (currentTile > 0) {
				deleteLetter()
			}
			return
		}
		if (input === 'ENTER') {
			checkGuess()
			return
		}
		else {
			if (currentTile < 5 && currentRow < 6) {
				addLetter(input)
			}
		}
	}
}

// Add a new letter on a tile
function addLetter(letter) {
	const tile = document.getElementById('guessRow-' + currentRow + '-tile-' + currentTile)
	tile.textContent = letter
	wordEntry[currentRow][currentTile] = letter
	tile.setAttribute('data', letter)
	currentTile++
}

// Remove a letter from a tile
function deleteLetter() {
	currentTile--
	const tile = document.getElementById('guessRow-' + currentRow + '-tile-' + currentTile)
	tile.textContent = ''
	wordEntry[currentRow][currentTile] = ''
	tile.setAttribute('data', '')
}

// Called when enter is clicked, verifies game progress ie. win/lose/continue
function checkGuess() {
	let winner = 'Won' // defualt win
	const tempWord = wordEntry[currentRow].join('')
	if (currentTile > 4) {
		fetch(`/check/?word=${tempWord}`)
			.then(response => response.json())
			.then(json => {
				if (json === 'Entry word not found') {
					showMessage('Invalid word')
					return
				} else {
					flipTile()
					socket.emit('player-word', opponentGuess, currentRow, gameRole, gameId)
					if (word == tempWord) {
						let data1 = [tempWord, gameId, currentRow + 1]
						fetch(`/enter-multi-word/?data=${data1}`)
							.then(response => response.json())
							.then(json => {
								console.log(json)
							})
						GameOver = true
						showMessage('Correct!')
						wordEntry.push(word)
						wordEntry.push(calcScore(currentRow))
						console.log('___________________')
						console.log('player' + currentRow)
						console.log(opponentNumGuesses)
						if (opponentNumGuesses !== -1) {
							if (currentRow > opponentNumGuesses) {
								//lose
								winner = 'Lost'
							} else if (currentRow === opponentNumGuesses) {
								winner = 'Draw'
							}
							let data3 = [winner, accountId, opponentId]
							fetch(`/enter-multi-leaderboard/?data=${data3}`)
								.then(response => response.json())
								.then(json => {
									console.log(json)
								})
						}
						let data = [winner, gameId]
						console.log(winner)
						fetch(`/enter-multi-winner/?data=${data}`)
							.then(response => response.json())
							.then(json => {
								console.log(json)
							})
						socket.emit('game-finish', currentRow, gameId)
						//setTimeout(() => window.location.replace('/lobby'), 5000)
						return
					} else {
						let data = [tempWord, gameId, currentRow + 1]
						fetch(`/enter-multi-word/?data=${data}`)
							.then(response => response.json())
							.then(json => {
								console.log(json)
							})
						if (currentRow >= 5) {
							GameOver = true
							showMessage('Game Over')
							let data = ['Lost', gameId]
							fetch(`/enter-multi-winner/?data=${data}`)
								.then(response => response.json())
								.then(json => {
									console.log(json)
								})
							return
						}
						if (currentRow < 5) {
							currentRow++
							currentTile = 0
							//console.log(`before socket ${currentRow}`)

						}
					}
				}
			}).catch(err => console.log(err))
	}
}

// Shows clients their correct letter guesses and positions  ie. green/yellow/dark
function addColorToKey(keyLetter, color) {
	const key = document.getElementById(keyLetter)
	key.classList.add(color)
}

// Flip the tile to show client the output of their guess
function flipTile() {
	const rowTiles = document.querySelector('#guessRow-' + currentRow).childNodes
	let checkWordle = word
	const guess = []
	opponentGuess = []
	console.log(`currentRow = ${currentRow}`)

	rowTiles.forEach(tile => {
		guess.push({ letter: tile.getAttribute('data'), color: 'grey-overlay' })
		opponentGuess.push({ letter: tile.getAttribute('data'), color: 'grey-overlay' })
	})

	guess.forEach((guess, index) => {
		if (guess.letter == word[index]) {
			guess.color = 'green-overlay'
			opponentGuess[index].color = 'green-overlay'
			checkWordle = checkWordle.replace(guess.letter, '')
		}
	})

	guess.forEach((guess, index) => {
		if ((checkWordle.includes(guess.letter)) && (guess.color != 'green-overlay')) {
			guess.color = 'yellow-overlay'
			opponentGuess[index].color = 'yellow-overlay'
			checkWordle = checkWordle.replace(guess.letter, '')
		}
	})

	rowTiles.forEach((tile, index) => {
		setTimeout(() => {
			tile.classList.add('flip')
			tile.classList.add(guess[index].color)
			addColorToKey(guess[index].letter, guess[index].color)
		}, 500 * index)
	})
}

function flipTile2(opponentGuess, row) {
	opponentRow = row
	const rowTiles = document.querySelector('#showRow-' + opponentRow).childNodes

	rowTiles.forEach((tile, index) => {
		setTimeout(() => {
			tile.classList.add('flip')
			if (gameRole === 'admin') {
				tile.textContent = opponentGuess[index].letter
				tile.setAttribute('data', opponentGuess[index].letter)
			}
			//console.log(opponentGuess[index].letter)
			tile.classList.add(opponentGuess[index].color)
			//addColorToKey(/guess[index].letter,/opponentGuess[index].color)
		}, 500 * index)
	})
}

function flipTile3(guess, row) {
	opponentRow = row
	const rowTiles = document.querySelector('#guessRow-' + opponentRow).childNodes
	let checkWordle = word
	console.log(`currentRow = ${currentRow}`)

	guess.forEach((guess, index) => {
		if (guess.letter == word[index]) {
			guess.color = 'green-overlay'
			checkWordle = checkWordle.replace(guess.letter, '')
		}
	})

	guess.forEach((guess, index) => {
		if ((checkWordle.includes(guess.letter)) && (guess.color != 'green-overlay')) {
			guess.color = 'yellow-overlay'
			checkWordle = checkWordle.replace(guess.letter, '')
		}
	})

	rowTiles.forEach((tile, index) => {
		setTimeout(() => {
			tile.textContent = guess[index].letter
			tile.setAttribute('data', guess[index].letter)
			tile.classList.add('flip')
			tile.classList.add(guess[index].color)
		}, 500 * index)
	})
}

////////////////////////////////////////////////////
//Game end
////////////////////////////////////////////////////

// Finds score received for game for leaderboard
function calcScore(currentRow) {
	let score = 7
	if (currentRow === 0) {
		score = 10
		return score
	}
	score = score - currentRow - 1
	return score
}

////////////////////////////////////////////////////
//Displays
////////////////////////////////////////////////////

// Outputs message to client
function showMessage(msg) {
	const messageElement = document.createElement('p')
	messageElement.textContent = msg
	message.append(messageElement)
	setTimeout(() => message.removeChild(messageElement), 2000)
}

function showWaitMessage(msg) {
	const messageElement = document.createElement('p')
	messageElement.textContent = msg
	message.append(messageElement)
	setTimeout(() => message.removeChild(messageElement), 10000)
}

function myUsernameMessage(msg) {
	const messageElement = document.createElement('p')
	messageElement.textContent = msg
	myUsernameBox.append(messageElement)
}

function opUsernameMessage(msg) {
	const messageElement = document.createElement('p')
	messageElement.textContent = msg
	opponenetUsernameBox.append(messageElement)
}
	
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>